@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Shadows+Into+Light&display=swap');

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30pt;
}

ul {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

li {
  background-color: rgba(24, 149, 116, 1);
  line-height: 35px;
  text-align: center;
  height: 35px;
  width: 100%;
}

.selected {
  background-color: rgba(24, 149, 116, 0.5);
}