#chores {
    display: flex;
    flex-direction: row;

}

/*********************************************************************************************************************/
/*                                                  left column                                                      */
/*********************************************************************************************************************/

#left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
}

#chore-date {
    text-align: left;
    font-size: 28pt;
    margin-top: 10vh;
}

#date-spinner {
    width: 20%;
    margin-left: 5%;
}

#chore-type {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.chore-type-btn {
    padding: 5%;
    margin-bottom: 8%;
    border: 2px solid lightgrey;
    background-color: transparent;
    border-radius: 10px;
}

.chore-type-btn:focus {
    outline: none;
}

.chore-type-btn-selected {
    background-color: lightgrey;
}

/*********************************************************************************************************************/
/*                                                  middle column                                                    */
/*********************************************************************************************************************/
#middle-column {
    display: flex;
    flex-direction: column;
    flex-basis: 56%;
    padding: 0;
}

#dow-picker {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#dow-picker li {
    border-radius: 10%;
    background-color: transparent;
}

#dow-picker li:hover {
    background-color: lightgrey;
}

.dow-chevron {
    padding-top: 25%;
}

.dow-button {
    font-size: 36pt;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10%;
    background-color: transparent;
}

.dow-button:hover {
    background-color: lightgrey;
}

.dow-button:focus {
    outline: none;
}

.dow-selected {
    background-color: lightgrey;
}

#house-select {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.house-button-calendar {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: .5em;
}

.house-button-list {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: .5em;
}

.house-button-list:hover {
    background-color: lightgrey;
}

.house-button-list-selected {
    background-color: lightgrey;
}

#chore-calendar {
    position: relative;
    height: 35em;
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}


.calendar-box {
    position: absolute;
    background-color: rebeccapurple;
    border-radius: .5em;
    opacity: .6;
}

.calendar-box-title {
    color: whitesmoke;
    margin-left: .2em;
    margin-top: .5em;
}

.calendar-time {
    font-family: monospace;
    white-space: pre;
}

.calendar-line {
    position: absolute;
    width: 39rem;
    right: 0;
    top: .15em;
    border: solid 1px lightgrey;
    opacity: .8;
    z-index: -1;
}

#chore-list {
    position: relative;
    height: 35em;
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.chore-list-box {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 99%;
    border: solid 1px lightgrey;
    border-radius: .5em;
    margin-top: 2em;
}

.chore-list-box-left {
    flex-basis: 45%;
}

.clb-title {
    font-size: 24pt;
    margin-left: .1em;
    margin-bottom: 1em;
}

.clb-supplies-title {
    font-size: 14pt;
    margin-left: .2em;
}

.clb-supplies {
    display: block;
    margin-left: .2em;
    margin-bottom: .1em;
}

.chore-list-box-right {
    white-space: nowrap;
}

.clb-time {
    position: absolute;
    font-size: 24pt;
    right: 0.1em;
    margin-bottom: 1.01em;
    float: right;
}

.clb-desc-button {
    position: absolute;
    display: block;
    right: -.05em;
    bottom: -.07em;
    font-size: 14pt;
    border: solid 1px lightgrey;
    border-radius: .3em 0 .3em 0;
    outline: none;
    background-color: transparent;
}

.clb-desc-button:hover {
    background-color: lightgrey;
}

.clb-desc-button-selected {
    background-color: lightgrey;
}

.chore-list-desc-box {
    width: 99%;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 .3em .3em;
    border-color: lightgrey;
    margin-top: -.3em;
    overflow: auto;
}

.chore-list-desc {
    margin-left: .1em;
    margin-right: .1em;
    margin-top: .7em;
    float:left;
}

/*********************************************************************************************************************/
/*                                                  right column                                                     */
/*********************************************************************************************************************/

#right-column {
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
}

#chore-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
}

.chore-view-button {
    border: none;
    background-color: transparent;
    flex-basis: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10%;
}

.chore-view-button:hover {
    background-color: lightgrey;
}
.chore-view-button:focus {
    outline: none;
}

.chore-view-button-selected {
    background-color: lightgrey;
}

#list-icon {
    margin-top: 10%;
}

#calendar-icon {

}