#chores {
    display: flex;
    flex-direction: row;

}

/*********************************************************************************************************************/
/*                                                  left column                                                      */
/*********************************************************************************************************************/

#left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
    background-color: aliceblue;
}

#chore-date {
    text-align: left;
    font-size: 28pt;
    margin-top: 10vh;
}

#date-spinner {
    width: 20%;
    margin-left: 5%;
}

#chore-type {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.chore-type-btn {
    padding: 5%;
    margin-bottom: 8%;
    border: 2px solid grey;
    background-color: transparent;
    border-radius: 10px;
}

.chore-type-btn:focus {
    outline: none;
}

.chore-type-btn-selected {
    background-color: lightgrey;
}

/*********************************************************************************************************************/
/*                                                  middle column                                                    */
/*********************************************************************************************************************/
#middle-column {
    display: flex;
    flex-direction: column;
    flex-basis: 56%;
    padding: 0;
}

#dow-picker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#dow-picker li {
    border-radius: 10%;
    background-color: transparent;
}

#dow-picker li:hover {
    background-color: lightgrey;
}

.dow-chevron {
    padding-top: 10%;
}

.dow-button {
    font-size: 36pt;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10%;
    background-color: transparent;
}

.dow-button:hover {
    background-color: lightgrey;
}

.dow-button:focus {
    outline: none;
}

.dow-selected {
    background-color: lightgrey;
}

/*********************************************************************************************************************/
/*                                                  right column                                                     */
/*********************************************************************************************************************/

#right-column {
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
    background-color: aliceblue;
}

#chore-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
}

.chore-view-button {
    border: none;
    background-color: transparent;
    flex-basis: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10%;
}

.chore-view-button:hover {
    background-color: lightgrey;
}
.chore-view-button:focus {
    outline: none;
}

.chore-view-button-selected {
    background-color: lightgrey;
}

#list-icon {
    margin-top: 10%;
}

#calendar-icon {

}