@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Shadows+Into+Light&display=swap');

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 40pt;
  margin: 0;
  padding-left: 2%;
}

body:not(#heading) {
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style-type: none;
}

#nav-bar {
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-size: 16pt;
  margin-bottom: 0;
}

.nav-selected {
  background-color: rgba(24, 149, 116, 0.5);
}

#nav-bar > li {
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 100%;
}

#nav-bar > li:not(.nav-selected) {
  background-color: rgba(24, 149, 116, 1);
}

.house-selected {
  background-color: #d3d3d3;
  border-radius: 20%;
  border-width: 1pt;
  border-color: black;
  border-style: solid;
}

#content {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%
}

#left-content {
  display: flex;
  font-size: 16pt;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 2%;
  width: 30%;
  padding-right: 10%;
  margin-right: 10%;
  padding-left: 2%;
  border-right: 1pt black solid;
}

#right-content {
  margin-top: 2%;
  width: 70%;
  padding-right: 20%;
}

#right-content > h2 {
  margin: 0;
}

#right-content > li {
  font-size: 16pt;
}

#left-content > li {
  text-align: center;
}

#left-content > li, #house-details-list > li {
  height: 40px;
  line-height: 40px;
}